:root{
    --font-family: 'Roboto', sans-serif;
}
.flex{
    display: flex;
}

body{
    padding: 0px;
    margin-right: 0%;
    overflow: auto;
    background-color: rgb(245, 246, 247);
    
}
.nav{
    background-color: rgb(88, 88, 252);
    display: flex;
    max-height: fit-content;
   
}
.user-tray{
    margin:0px 5px 0px 5px;
    font-family: var(--font-family);
    word-break: keep-all; 
    position: relative;
}
.user-tray:hover .user-drop-down{
 display: block;
}
.user-tray button{
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 700;
    padding-left: 10px;
    margin-left: 10px;
   
}

/* ============== */
.user-drop-down{
    background-color: white;
    width: 230px;
    margin-left: -50px;
    position: absolute;
    top:50px;
    overflow: visible;
    z-index: 5555;
    display:none;
}

.user-drop-down ul{
    padding: 10px;
    list-style-type: none;
    margin-left: 10px;
}
.user-drop-down li{
    border-bottom: 1px solid rgba(3, 3, 3, 0.1) ;
    margin: 4px;
    padding-bottom: 0px;
    display: flex;
}
.user-drop-down  a{
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 13px;
    font-weight: 400;
}
.user-links .user-icons{
    color: blue;
    font-size: 20px;
    margin-top: 10px;
}
/* ============== */
.nav-menus{
    display: flex;
    margin:0% 10% 0%;
    align-items: center;
    justify-content: center;
}
.nav-brand{
    margin-left: 15px;
    margin:10px  10px 0px 10px;
}
.nav-brand img{
    height: 25px;
    width: auto;
    align-content: center;
    justify-content: center;
}
.nav-brand P{
    font-size: 12px;
    color:white;
    font-style: italic;
    padding-left: 10px;
    margin-top: -8px;
}
.nav-brand span{
    color: yellow;
    font-weight: 500;
}
.nav-brand p:hover{
    text-decoration: underline;
}
.nav-search{
    width: 500px;
}
.nav-search input{
    width: 500px;
    height: 36px;
    border-radius: 2px;
    outline: none;
    border: 0px;
    box-shadow: 1px 1px 2px black;
}
.nav-search input[type="search"]{
    padding: 10px;
    font-size: 13px;
    font-weight: 600;
}

.nav-link{
    margin:0px 5px 0px 5px;
    font-family: var(--font-family);
    word-break: keep-all;
    
}
.nav-link a:hover{
    color:wheat;
}
.nav-link a{
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 700;
}
.nav-cart{
    color: white;
    position: relative;
    top:8px;
}
.category-header{
    background-color: white;
    box-shadow: 0px 1px 3px black;
    max-height: 150px;
    padding: 0px 20px 0px 20px;
    overflow: hidden;
    display: flex;
}
.category-item {
    max-width: 10%;
    height: auto;
    margin:0px 30px;
}
.category-item img{
    height: 70px;
    width: auto;
}
.category-header .category-item p{
    font-family: var(--font-family);
    font-size: 12px;
    margin-left: 10px;
}
.slideshow-container{
    max-width: 100%;
   margin-top: 2px;
    padding: 10px 10px;
    background-color: white;
    
    
}
.slideshow-container img{
    width: 100%;
    height: 300px;
}
.product-slider{
    margin: 0px  10px;
    background-color: white;
    display: flex;
    overflow: auto;
    margin-bottom: 10px;
    box-shadow: 1px 1px 2px grey ;
}
.slide-item{
    width: 250px;
    padding: 10px;
    background-color:white;
    border-radius: 3px;
    padding-bottom: 25px;
}
.slide-item img{
    width: auto;
    height: 200px;
}
.slide-item p{
    font-family: var(--font-family);
    font-weight: 500;
    margin:10px auto;
    text-align: center;
}
.slide-item a{
    font-family: var(--font-family);
    text-decoration: none;
    font-weight: 300;
    font-size: 17px;
    color:green;
    display: flex;
    flex-direction: row;
    justify-content: center;
 
}
.slide-item .sub-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px;
    margin-top: -15px;
    opacity: .5;
    font-weight: 400;
}
footer{
    background-color: rgb(4, 0, 20);
    padding:30px;
    position: relative;
}

.f-title{
    color:grey;
    font-weight: 300;
    font-size: 14px;
}
.f-links a{
    text-decoration:none;
    color:white;
    font-size: 11px;
    font-weight: 300;
    font-family:var(--font-family);
    line-height: 25px;
}
.f-links a:hover{
    color:white;
    border-bottom: 1px solid white;
}
.vl{
    border-left:1px solid white;
    height: 150px;
    position: absolute;
    left:55%;
    opacity: .3;
}
.mailing {
    color:white;
    font-size: 11px;
    font-weight: 300;
    font-family:var(--font-family);
    line-height: 25px;
}
/*====== Category Link css ======== */
.category-header-2{
    background-color: white;
    box-shadow: 0px 1px 3px black;
    max-height: 150px;
    padding: 0px 20px 0px 20px;
    overflow: hidden;
    display: flex;
}
.category-link{
    display: flex;
    padding:12px 20px;

}
.category-link a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 600;
    margin-left: 5px;
}
.product-details-section{
    margin-top: 10px;
    
}
.list-preview{
    float: left;
}
.main-item img{
    width: 100%;
    height: auto;
    padding: 20px;
    border: 1px solid rgba(8, 1, 1, 0.2);
    border-left: 0px;
  
}
.main-item{
    float:right;
    margin-left: -50px;
}
/* list preview */
.list-preview img{
    width:50px;
    height:auto;
    display: block;
    margin:5px;
    margin-right:0px; 
    border: 1px solid rgba(8, 1, 1, 0.2);
    
}
.product-view{
    border: 1px solid rgba(8, 1, 1, 0.2);
}
.breadcrumb{
    margin: 0px;
    padding:0px;
}
.breadcrumb a{
    text-decoration: none;
    color:rgb(88, 88, 88);
    font-family: var(--font-family);
    font-size:11px;
    font-weight: 100;
    margin-left:10px;
}
.breadcrumb span{
    color:rgb(88, 88, 88); 
    margin-top: -5px;
    padding-left:5px;
}
.ratting{
    display: flex;
    font-weight: 500;
}
.count{
    height: 20px;
    width: auto;
    margin-right: 5px;
    margin-top: 2px;
}
.rates{
    color:rgb(88, 88, 88);
}
.ratting img{
    height: 20px;
    width: auto;
    margin-left:10px;
    margin-top: 2px;
}
.special-price span{
    font-size: 13px;
    color:green;
    font-weight: 600;
}
.prices{
    display: flex;
}
.prices h4{
    font-weight: 700;
    margin-right: 10px;
}
.prices p{
    font-weight: 500;
    text-decoration: line-through;
    color: grey;
    margin-top:3px;
}
.prices span{
   color:green;
   font-weight: 500; 
   margin-top:3px;
   margin-left:8px;
}
.offer-tags .tags{
    display: flex;
    line-height: 60%;
}
.tags span{
    display: flex;
    font-size: 13px;
    font-weight: 700;

}
.tags span p{
    font-size: 13px;
    font-weight: 500;
    margin-left:5px;
    margin-right:5px;

}
.tag-ic{
    color:green;
    font-weight: 700;
    padding-right:10px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 10,
  'wght' 300,
  'GRAD' 10,
  'opsz' 48
}
.view-more{
    font-size:14px;
    text-decoration: none;
    font-weight: 600;
}
.view-more:hover{
    text-decoration: none;
    
}
.list-group-item{
    width: 400px;
    font-family: var(--font-family);
    font-size: 13px;
}
/* ===== Cart page Css start hare */
.cart-section{
    margin:20px;
}
.panel{
    background-color: white;
    height: 50px;
    border-radius: 2px;
    box-shadow: 1px 1px 3px rgba(10, 10, 10, 0.3);
}
.color-section{
    display:flex;
    margin-left:10px;
    margin-bottom: 10px;

}
.color-section img{
    width:50px;
    height: auto;
    margin:10px;
    border: 1px solid grey;
    padding:5px;
    
}
.color-text, .size-text{
    color:rgb(88, 88, 88);
    font-size: 14px;
    font-weight: 600;
    margin-right:15px;
}
.grey-text{
    color:rgb(88, 88, 88);
    font-size: 14px;
    font-weight: 600;
    margin-right:15px;
}
.color-section a{
    font-size: large;
    font-weight: 600;
    border: 1px solid rgba(177, 174, 174, 0.5);
    margin-left:10px;
}
.pan-body{
    display: flex;
    align-items: center;
    height: 50px;
    margin:0px 20px 0px 10%; 
}
.pan-body a{
    text-decoration:none;
    color:black;
    font-size:15px;
    font-weight:600;
}
.pan-body a:hover{
    color:blue;
    border-bottom: 2px solid blue;
    padding-bottom: 15px;
}
.panel-2{
    background-color: white;
    height: auto;
    border-radius: 2px;
    margin-top:15px;
     box-shadow: 1px 1px 3px rgba(10, 10, 10, 0.3);
     position: relative;
}
.delivery-to span{
    display: flex;
    margin:15px;
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 14px;
    
}
.work-btn{
    margin: 5px;
    background-color: rgb(218, 213, 213);
    font-size: 10px;
    font-weight: 500;
    border-radius: 2px;
    height: auto;
    width: auto;
    border-radius: 3px;

}
.del-address p{
    margin-top:-35px;
    font-weight: 500;
    color:grey;
}
.change-btn{
    float:right;
    position: absolute;
    top:30%;
    right:30px;
   
}
.panel-2 a{
    background-color: white;
    text-decoration: none;
    border:1px solid grey;
}


.warranty, .Delivery{
    font-size: 13px;
    font-weight: 600;
    margin-top: 10px;
}
.input-pin{
    border: none;
    outline: none;
    border-bottom: 2px solid blue ;
    width: 100%;
}
.pincode-section{
    display: flex;
    border-bottom: 2px solid blue;
    margin-bottom: 10px;
}
.blue-icon{
    color: blue;
    font-size: 20px;
}
.pincode-section input{
    border: none;
    outline: none;
    height:30px;
    background-color:rgb(247, 245, 245);

}
.pincode-section input[type=text]{
    padding:5px;
    margin-top:-6px;
    font-size: 14px;
    font-weight: 500;
}
.pincode-section button{
    margin-top: -8px;
    margin-left: -25px;
    font-size: 13px;
    color:blue;
    font-weight: 500;
}
.delivery-time{
    display: flex;
    margin-top: -5px;
}
.delivery-time p{
    font-size: 12px;
    font-weight: 500;
}
.super-coin img{
    width: auto;
    height: 100px;
}
/* === Specifications Css */

.specification{
    width: 100%;
    margin-bottom: 10px;
    /* background-color: grey; */
}
.specification-content h3{
    border-bottom: 1px solid grey;
}
.specification table{
    width:100%;
}
.specification table td{
    border:1px solid grey;
    padding:10px;
}
.specification-property p{
    color:grey;
}
/* ====== Ratting and Review Css */
.review-section{
    margin:10px 0px;
    padding:15px;
    border:1px solid grey;
    width:100%;
}
.ratting-header{
    display: flex;
    position: relative;
}
.ratting-header h4{
    float:left;
    font-weight: 600;
}
.ratting-header a{
    text-decoration: none;
    background-color: white;
    padding:14px 30px;
    box-shadow: 1px 1px 3px  rgba(14, 13, 13, 0.5);
    border-radius: 2px;
    color:black;
    font-size: 14px;
    float:right;
    position: absolute;
    right:15px;
}
.ratting-panel{
    margin-top:50px;
}
.overal-ratting{
    /* width: 20%; */
}
.ratting-bars{
    display: flex;
    /* line-height: -5px; */
    height: 25px;
}
.ratting-bars h6{
    margin-top:5px;
}
.star-ratting{
    font-size: 18px;
    margin-top:3px;
}
.progress{
    width: 200px;
    height: 6px;
    margin-top: 10px;
}
.overal-review{
    display: flex;
    
}
.overal-review p{
    font-weight: 700;
}
.review-images img{
    width:50px;
    height: auto;
    padding:5px;
    border:1px solid grey;
    border-radius:3px;
}
.reviews-panel{
    margin-bottom: 10px;
}
.product-details-section{
    background-color: white;
}
.cart-buttons{
    display: flex;
    width: 100%;
    margin-top:15px;
}
.cart-buttons #cart-btn{
    width: 50%;
    height: 50px;
    padding:10px;
    margin-right: 10px;
    background-color: orange;
    border-radius: 3px;
    text-align: center;
    color:white;
    font-weight: 700;
    text-decoration: none;
}
#buy-btn{
    width: 50%;
    height: 50px;
    padding:10px;
    margin-right: 10px;
    background-color:orangered;
    border-radius: 3px;
    text-align: center;
    color:white;
    font-weight: 700;
    text-decoration: none;
}
crt-icon{
    margin-top: 10px;
}
.related-products{
    box-shadow: 1px 1px 3px  rgba(14, 13, 13, 0.5);
}
.related-products h4{
    color:black;
    margin: 20px 10px;
    font-size: 20px;
}
/* ====== cart item css start hare */
.cart-item-section{
    margin-top: 10px;
    background-color: white;
}
.cart-item-image img{
    width: 150px;
    height: 150px;
    padding:10px;
}
.cart-tittle{
    padding:10px 20px;
}